/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

html {
  background-color: #f0f0f0;
}
a {
  text-decoration: none !important;
}
.primary-button{
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: #937DC2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.primary-button a{
  color: white;
}
.mb-10{
  margin-bottom: 10px;
}
.w-lg{
  width: 1400px;
  margin: auto;
}

.bg-grey{
  background-color: #f0f0f0;
}