<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="./components/admin/loginFormAdmin.css" />
  </head>
  <body>
    <div class="flex-center-bg">
      <div class="form-container">
        <p class="title">Welcome back Admin!😊</p>
        <form class="form">
          <input type="text" class="input" placeholder="Username" />
          <input type="password" class="input" placeholder="Password" />
          <p class="page-link">
            <span class="page-link-label">Forgot Password?</span>
          </p>
          <button class="form-btn">Log in</button>
        </form>
        <a href="/admin-signup" class="sign-up-label">
          Don't have an account?<span class="sign-up-link"> Sign up</span>
        </a>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
