<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="./components/admin/loginFormAdmin.css" />
  </head>
  <body>
    <div class="flex-center-bg">
      <div id="signup-form" class="form-container">
        <p class="title">Sign up 😊</p>
        <form id="admin-signup-form" class="form">
          <input id="signup-username" type="text" class="input" placeholder="Username" />
          <input id="signup-password" type="password" class="input" placeholder="Password" />
          <button class="form-btn">Sign up</button>
        </form>
        <a href="/admin-login" class="sign-up-label">
          Already a admin, <span class="sign-up-link">Login</span>
        </a>
      </div>
      <p id="signup-message"></p>

    </div>
    <script src="../../script.js"></script>
  </body>
</html>
